<div class="form">

      <div class="tab-content">

        <div id="login">
          <h1 class="form-header">Welcome Back!</h1>
          <p><%= flash[:message] %></p>
          <%= form_for(resource, as: resource_name, url: session_create_path(resource_name)) do |f| %>

            <div class="field-wrap">
            <%= f.email_field :email, autofocus: true, placeholder: "Email Address" %>
          </div>

          <div class="field-wrap">
            <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
          </div>

           <%= f.submit "Log in", class: "button button-block" %>

          <% end %>

        </div>

      </div><!-- tab-content -->

</div> <!-- /form -->
