<div class="content">
  <div class="desc">
    <h1><%= @post.user.name %></h1>
    <p id="post_<%= @post.id %>"><%= @post.content %></p>

    <div class="share">
      <ul>
        <li>
          <%=link_to like_post_path(@post.id), remote: true, method: :post do %>
            <i class="fa fa-heart-o"></i> Like
          <% end %> <span id="like_<%= @post.id %>"><%= @post.likes.count %> </span>
        </li>
        <li>
          <%=link_to show_post_path(@user.id, @post.id) do %>
            <i class="fa fa-comment-o"></i> <%= @post.comments.count %> <%= 'Comment'.pluralize(@post.comments.count) %>
          <% end %>
        </li>
        <% if current_user.id == @post.user.id %>
        <li>
          <%=link_to edit_post_path(@user.id, @post.id), remote: true do %>
            <i class="fa fa-pencil-square-o"></i> Edit
          <% end %>
        </li>
        <li>
          <%=link_to destroy_post_path(@user.id, @post.id), method: :delete, data: {confirm: "Are you sure!"} do %>
            <i class="fa fa-trash-o "></i> Delete
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>
    <div class="comment-section">
     <% if @post.comments.present? %>
     <% @post.comments.limit(2).each do |c| %>
      <h4 class="commentuser"><%= c.user.name %></h4>
      <p class="text"><%= c.comment %><comment class=""></comment></p>
      <span class="sub-text"><%= local_time_ago(c.created_at) %></span>
     <% end %>
     <% end %>
    </div>
  </div>
</div>
