
<div class="form">

      <div class="tab-content">
        <div id="signup">
          <h1>Sign Up for Free</h1>

          <%= form_for(resource, as: resource_name, url: user_registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>


            <div class="field-wrap">
              <label> Name<span class="req">*</span>
              </label>
              <%= f.text_field :name, autofocus: true %>
            </div>
        

          <div class="field-wrap">
            <label>
              Email Address<span class="req">*</span>
            </label>
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="field-wrap">
            <label>
              Set A Password<span class="req">*</span>
            </label>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>
          <div class="field-wrap">
            <label>
              Confirm password<span class="req">*</span>
            </label>
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>
          <%= f.submit "Sign up", class: "button button-block" %>

          <% end %>

        </div>

      </div><!-- tab-content -->

</div> <!-- /form -->

<%= render "users/shared/links" %>
